node_modules
.DS_Store
dist
dist-ssr
*.local
log.md
.stylelintcache
src/.umi
.umi
.umi-production

src/**/*.umi/
/node_modules
/.pnp
.pnp.js
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
/src/.umi
/*.env
/.env.production
/.env.development
/*env

*.umi